<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MFiles.VAF" publicKeyToken="fa007b370d17fe5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.623.6" newVersion="2.3.623.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MFiles.VAF.Configuration" publicKeyToken="fa007b370d17fe5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-21.11.10853.3" newVersion="21.11.10853.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>